#products{
        height: auto;
        width: 100%;
        text-align: center;
        
    font-family: 'ZCOOL XiaoWei', serif;
}
.mat-card{
    width:300px;
    margin-top: 30px;
    text-align: justify
}

#products_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: center;
}
h3{
    color: #123;

}
.booking{
    color: orangered
}
.online{
    color: orangered;
}
.rating{
    color: lightgreen;
    font-size: 20px !important;
}