<div id="footer" >

  <div fxLayout="" fxLayoutAlign="center right">
      <button mat-button>HOME</button>
      <button mat-button>ABOUT</button>
      <button mat-button>CONTACT</button>
  </div>
      <mat-divider></mat-divider>
  <div>
      <p>All Rights Reserved</p>
  </div>
  <div id="footer_add">
    Ashok nagar road aron dist guna 
  </div>
  <mat-divider></mat-divider>
  <div class="divider"></div>
 <div fxLayoutGap="20px">
    <i class="material-icons">call</i>
    <i class="material-icons">chat</i>
    <i class="material-icons">alternate_email</i>
 </div>
</div>